@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #312971;
}

.slick-slide > div {
  display: flex;
  justify-content: center;
  margin: 0 10 px;
}
.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}

.slick-prev:before,
.slick-next:before {
  background: linear-gradient(#fe3ece, #29fefd);
  background-clip: text;
  color: transparent !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #081540;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #312971;
}
